.app.normal {
  --bg-color: #eefefc;
  --inverted-bg-color: #275e6c;
  --prymary-color: #141414;
  --secondary-color: #4a4a4a;

  --inverted-prymary-color: #b5a530;
  --inverted-secondary-color: #b57730
}